/node_modules
/public/hot
/public/js/
/public/storage
/storage/*.key
/vendor
/public/mix-manifest.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/framework/laravel-excel
